In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from matplotlib import style
style.use('ggplot')

In [6]:
df = pd.read_csv('issues.csv')
df.head

         name  year  quarter  count
0        Ruby  2011        3    965
1  JavaScript  2011        3    694
2      Python  2011        3    619
3         PHP  2011        3    560
4        Java  2011        3    420